<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="icon" type="image/jpg" href="/dist/favicon.ico"> -->

  <title>hot_plate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/dist/app.css?version=1">
  <script>
    window.__INITALSTATE__ = <% -JSON.stringify(initalState) -%>
  </script>
</head>

<body>
  <div id="root">
    <div>
      <%- initalContent -%>
    </div>
  </div>
  <script src="/dist/vendor.js?version=1" charset="utf-8"></script>
  <script src="/dist/app.js?version=1" charset="utf-8"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="/dist/vs/loader.js" charset="utf-8"></script> -->
</body>

</html>