$background-color: #333;
$primary-color: #fff;


body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}
.main_content {
  // grid-area: main_content;
  height: 500px;
  float: right;
  width: 79.7872%;
}

.column_left {
  float: left;
  width: 19.1489%;
  color: $primary-color;
  background-color: $background-color;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* make a grid */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
